.topnav {
	background-color:  #4d0000;
	overflow: hidden;
	width: 100%;
	height: auto;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
	background-color: #990000;
	color:black;
}

.topnav input[type=submit] {
  border: 0px;
	background: none;
	background-color: #b30059;
	color: #fff;
	float: right;
	padding: 11px;
  cursor:pointer;
  margin-top: 4.5px;
  border-radius: 20px;
}

.topnav input[type=submit]:hover {
  background-color: #e6005c
}

.topnav input[type = text] {
	float: right;
	border: 2px solid #b30059;
  padding: 10px 20px;
  margin-top: 3px;
  border-radius: 25px;
}

@media  only screen and (max-width: 500px)
{
  .topnav a{
     float: none;
     display: block;
  }

  .topnav input {
    float: none;
    display: block;
  }

  .topnav input[type=text]
  {
    width: 70%;
    float: left;
    display: inline-block;
  }

  .topnav input[type=submit]
  {
   display: inline-block;
  }

  .slide {
    margin-top: 100px;
  }

}


.slide {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSI229qH-GOmycgbaays-Gp5Dtr3jGGJPWxcObGOmpTKlUNYVR_&usqp=CAU");
}

.titlu {
	width: 100%;
    color: white;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    position: relative;

}

.photos {
	margin-bottom: 60px;
	margin-left: 7px;
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}

.column {
  float: left;
  width: 27%;
  margin-bottom: 20px;
  padding: 0 8px;
  margin:auto;
  margin-right: 0;
}

@media only screen and (max-width: 899px) {
  .column {
    width: 100%;
    background-color: white;
    display: block;
    margin: auto;
  }

  .photos {
  	width: 100%;
  	margin: auto;
  }

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

main{
	width: 100%;
}

#rowSection{
	width: 100%;
	margin:auto;
}


.column{
	margin:auto;
}

.slide .photos:hover {
  transform: translateY(-15px); scale(2.1);
}

.allphotos:hover .photos:not(:hover) {
  transform: scale(0.9);
}


#subtitlu {
    animation: moveInLeft 1s ease-out;
} 

@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform:translateX(-100px);
  }

  80%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

 .logo:hover {
  transform: translateY(-15px); scale(2.1);
}

form {
  border: none;
}


.container1 input[type=text], .container1 input[type=submit] {
  width: 45%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

.container1 input[type=submit] {
  background-color: #4d0000;
  color: white;
  border: none;
}

 .container1 input[type=submit]:hover {
  opacity: 0.8;
}


#wrapper3Columns{
  width:auto;
  margin-left: 20%;
  margin-right:20%;
  padding: 0;
}


@media only screen and(max-width: 500px) 
{
  #news {
    display: block;
  }

  #contact {
    display: block;
    margin: none;
    left: 0;
    }

  .separator {
      display: none;
    }
}


@media (max-width: 1520px) and (min-width: 1024px)
{
  #id5 {
    display: none;
  }

  #id6 {
    display: none;
  }

  .slide {
    align-content: center;
  }
}

@media (max-width: 1285px) and (min-width: 1000px )

